.watcher-icon {
    font-size: xx-large;
}

.watcher-icon-enabled {
    color:white;
}

.watcher-icon-disabled {
    color:gray;
}

.watcher-auto-save {
    padding-left: 3px;
}

.viewing-scan {
    color:white;
}