.calculated-value-card {
    margin: 0 3px 3px 3px;
    width: 100%;
}

.calculated-value-table {
    text-align: left;
    font-size: 8pt;
}

.calculated-value-title {
    width: 15%;
}

.calculated-value {
    width: 20%;
    font-weight: bold;
}

.calculated-value-formula {
    width: auto;
}
