.shim-panel {
    width: 100%;
    font-size: small;
}
.shim-title {
    font-weight: bold;
    text-align: left;
}

.shim-column {
    width: 25%;
}

.shim-label {
    text-align: right;
}

.shim-value {
    font-weight: bold;
}